body{
    margin: 0px;
}

.formulario-login{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: start;
}


form{
    width: 400px;
    height:700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    padding: 0pxpx;
    height: 40px;
    background-color: #570ffe;
    color: white;
    border-radius: 6px;
    border: none;
    
}
div{
    display: flex;
    gap: 200px;
}
a{
    align-self:center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
input{
    
  border:none;
  border-radius: 5px;
  border: 2px solid #c3c3c3;
  padding:10px;
  background-color: white;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    font-size: 15px;
}
.logo{
    margin: 0px;
    width: 60px;
    align-self: center;

}

